* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-gb-color: #2e1a13;
  --sec-bg-color: #311d15;
  --main-font-color: #ffffff;
  --sec-font-color: #e09034;
}

.dark-mode {
  --main-gb-color: #16301f;
  --sec-bg-color: #233e2d;
  --main-font-color: #ffffff;
  --sec-font-color: #e09034;
}

body {
  font-family: basic-sans, sans-serif;
  font-weight: 300;
  background-color: var(--main-gb-color);
  transition: 2s;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/h2-background-img-1.png);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  padding: 0 3rem 0 3rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--main-font-color);
  font-size: 1.2rem;
}

/* Top Header */
.top-header {
  border-bottom: 1px solid #b9b9b9;
}

@media screen and (max-width: 900px) {
  .top-header {
    display: none;
  }
}

.top-header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
}

/* Navigation */
.navbar {
  width: 100%;
  height: 100px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar a:hover {
  color: var(--sec-font-color);
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle-btn {
  color: var(--main-font-color);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

/* Dropdown Menu */
.dropdown-menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 100px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
  height: 150px;
}

.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsive Design */
@media screen and (max-width: 992px) {
  .navbar .links {
    display: none;
  }

  .navbar .toggle-btn {
    display: block;
  }

  .dropdown-menu {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .dropdown-menu {
    left: 2rem;
    width: unset;
  }
}

/* Dark Mode */
#dark {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 150px;
  height: 50px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  color: var(--main-font-color);
  cursor: pointer;
  z-index: 999;
  font-size: 1rem;
}

/* Header Titel */
.header-titel {
  width: 100%;
  top: 30%;
  left: 0;
  position: absolute;
}

.header-titel h1 {
  font-size: clamp(2.5rem, 10vw, 9rem);
  font-weight: 300;
  color: var(--sec-font-color);
  margin-left: 20%;
}

.header-titel h2 {
  font-size: clamp(2.5rem, 10vw, 9rem);
  font-weight: 500;
  color: var(--main-font-color);
  margin-left: 30%;
}

/* Header Titel Bottom */
.header-titel-bottom {
  position: absolute;
  left: 50%;
  bottom: 5rem;
  color: var(--main-font-color);
  transform: translate(-50%);
}
.header-titel-bottom h4 {
  font-weight: 300;
}

.header-titel-bottom img {
  padding-top: 2rem;
}

/* Deco img Top */
.deco-img {
  margin-top: -5rem;
  opacity: 0.5;
}

@media screen and (max-width: 700px) {
  .deco-img {
    margin-top: -2rem;
  }
}

.deco-img img {
  width: 25%;
}

/* About */
.about-container img {
  width: 50%;
  height: 100%;
}

/* Titel Main */
.titel-main {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  position: relative;
}

.titel-main div {
  width: 100%;
  position: absolute;
}

.titel-main h3 {
  font-size: clamp(2.5rem, 10vw, 9rem);
  font-weight: 300;
  color: var(--sec-font-color);
  margin-left: 20%;
}

.titel-main h4 {
  font-size: clamp(2rem, 5vw, 5rem);
  font-weight: 500;
  color: var(--main-font-color);
  margin-left: 25%;
}

/* Deco img Main */
.titel-main img {
  width: 20%;
  position: absolute;
  top: -10rem;
  right: 0;
}

/* Slider Testimonial */
.testimonial {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  position: relative;
  width: 100%;
  min-height: 450px;
  background-color: var(--sec-bg-color);
  transition: 2s;
  background-image: url(../img/h2-background-img-1.png);
  background-repeat: no-repeat;
  background-position: center;
}
.container .contents-wraper {
  width: 70%;
  min-height: inherit;
  margin: 30px auto;
  text-align: center;
}
.contents-wraper .header h4 {
  position: relative;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  color: var(--main-font-color);
}

.contents-wraper .testRow {
  width: 100%;
  min-height: inherit;
  position: relative;
  overflow: hidden;
}
.testRow .testItem {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.testRow .testItem:not(.active) {
  top: 0;
  left: -100%;
}
.testRow .testItem img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 5px;
  outline: 1px solid var(--sec-font-color);
  outline-offset: 2px;
}
.testRow .testItem h3 {
  font-size: 2rem;
  font-weight: 300;
  padding: 7px;
  color: var(--main-font-color);
}
.testRow .testItem h4 {
  color: var(--main-font-color);
  font-weight: 400;
}
.testRow .testItem p {
  font-size: 1.5rem;
  color: var(--main-font-color);
  padding: 10px;
}
.contents-wraper .indicators {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  cursor: pointer;
}
.contents-wraper .indicators .dot {
  width: 10px;
  height: 10px;
  margin: 0px 3px;
  border: 1px solid var(--main-font-color);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}
.contents-wraper .indicators .active {
  background-color: var(--sec-font-color);
}
@keyframes next1 {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
@keyframes next2 {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

@keyframes prev1 {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}
@keyframes prev2 {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

@media (max-width: 550px) {
  .container .contents-wraper {
    width: 90%;
  }
  .contents-wraper .header h1 {
    font-size: 32px;
  }
  .testRow .testItem h3 {
    font-size: 26px;
  }
  .testRow .testItem p {
    font-size: 16px;
    letter-spacing: initial;
    line-height: initial;
  }
}

/* FAQ */
.footer-faq {
  min-height: 60vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main-font-color);
}

.titel {
  font-size: 3rem;
  margin: 2rem 0rem;
  font-weight: 200;
}

.faq {
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--main-font-color);
  cursor: pointer;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3 {
  font-size: 1.8rem;
  font-weight: 400;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.5s ease;
}

.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1rem;
}

.faq.active .answer {
  max-height: 300px;
  animation: fade 1s ease-in-out;
}

.faq.active svg {
  transform: rotate(180deg);
}

svg {
  transition: transform 0.5s ease-in;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Contact Form */

.contact-section {
  padding: 10em;
  display: flex;
  flex-direction: column;
  gap: 7em;
}

h2 {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 300;
  font-size: 3rem;
}

.contact-section .section-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* Contact form */
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75em;
  max-width: fit-content;
}

form input,
form textarea {
  border: none;
  border-bottom: 0.5px #ffffff solid;
  padding-block: 1em;
  background: none;
  color: #ffffff;
  font-family: "basic-sans", sans-serif;
  font-weight: 100;
  font-size: 1rem;
}
form input:focus,
form textarea:focus {
  border: 0.5px solid #ffffff;
}
form input::placeholder,
form textarea::placeholder {
  color: #ffffff;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5em;
}

.input-error {
  color: #e08f35;
  font-family: "basic-sans", sans-serif;
}

form > button {
  margin-top: 3em;
  cursor: pointer;
  width: 50%;
  padding-block: 0.75em;
  background: none;
  border: 0.5px solid #ffffff;
  color: #ffffff;
  font-family: "basic-sans", sans-serif;
  font-weight: 100;
  font-size: 1rem;
}

form > button:hover {
  color: #2d1a13;
  background-color: #ffffff;
}

/* Contact info */
.contact-info {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  color: var(--main-font-color);
}

h3 {
  font-size: 2rem;
  font-weight: 100;
  text-transform: uppercase;
}

.contact-info > p {
  max-width: 60ch;
}

.info-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2.5em;
}

.info-container > div {
  display: flex;
  align-items: center;
  gap: 2.5em;
}

.info-container img {
  width: 1.5em;
}
